<!DOCTYPE html>
<html>
  <head>
    <title>Homepage</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <style>

      body {
        margin: 0; 
        margin-left: 400px;
        margin-right: -400px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat; 
        background-attachment: fixed; 
        background: 
          linear-gradient(to top, #ffffff, rgba(0,0,0,0)),
          url('https://wallpapers.com/images/featured/sky-mvehfqz6w2ges2dj.jpg'); 
        height: 100vh;
        padding: 0px; 
      }
      
      header {
        position: absolute;
        padding: 20px;  
        width: 1000px;
        margin-top: 10px;
        border-style: outset;
        border-radius: 5px;
        border-width: 2px;
        border-color: #3268ccb9; 
        background-color: #3975e4b9; 
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); 
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
        font-family: 'Roboto', sans-serif;
      }

      .sidebar {
        position: absolute; 
        height: 100%; 
        width: 250px; 
        justify-content: center; 
        align-items: center; 
        color: white;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); 
        margin-top: 150px;
      }

      .content {
        position: absolute;
        justify-content: right; 
        align-items: center; 
        margin-top: 150px;
        margin-left: 300px;
        backdrop-filter: blur(5px);
        background-color: rgba(26, 26, 26, 0.877); 
        padding: 15px;
        width: 700px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.55);
        font-family: 'Roboto', sans-serif;
        color: #3975e4b9;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
      }

      .button {
        display: inline-block;
        padding: 10px 20px;
        margin: 1px;
        width: 90%;
        color: white;
        border-style: outset;
        border-radius: 5px;
        border-width: 2px;
        border-color: #3268ccb9; 
        background-color: #3975e4b9; 
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); 
        font-family: 'Roboto', sans-serif;
      }

      .button:hover{
        width: 100%;
      }

      .reservation-form{
        display:flex;
        flex-direction: column;
        max-width: 300px;
        margin: 0 auto;
        font-family: 'Roboto', sans-serif;
        color: #3975e4b9;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); 
      }

      .reservation-label{
        margin-bottom: 1px;
      }

      .reservation-input{
        width: 100%;
        padding: 10px; 
        margin-bottom: 1px;
        box-sizing: border-box;
      }

      table {
        width: 100%;
        border-collapse: collapse;
      }

      th, td {
        padding: 3px;
        border: 1px solid #ddd;
      }

      tr:nth-child(even) {
        background-color: #f2f2f2;
      }

      tr:nth-child(odd) {
        background-color: #cce6ff; 
      }

      /* lot number */
      td:nth-child(1) {
        width: 10%; /* Adjust the width as needed */
      }
    
      /* availability */
      td:nth-child(2) {
        width: 15%; /* Adjust the width as needed */
      }

      /* nights available */      
      td:nth-child(3) {
        width: 14%; /* Adjust the width as needed */
      }

      /* per-night price */
      td:nth-child(4) {
        width: 12%; /* Adjust the width as needed */
      }

      /* type */
      td:nth-child(5) {
        width: 14%; /* Adjust the width as needed */
      }

      /* hook-up */
      td:nth-child(6) {
        width: 12%; /* Adjust the width as needed */
      }

      /* reserve! */
      td:nth-child(7) {
        width: 25%; /* Adjust the width as needed */
      }
    </style>
  </head>
  <body>
        <header>
          <h2 style="color: white">Hill Air Force Base FamCamp</h2>
          <p style="color: white">Map</p>
        </header>

        <div class="sidebar">
          <ul style="list-style-type: none; padding: 0; margin: 0;">
            <li><button class="button" onclick="window.location.href='/'">Return to Homepage</button></li>
            <li><button class="button" onclick="window.location.href='/guestdash'">Go to Guest Dashboard</button></li>
            <li><button class="button" onclick="window.location.href='/makereservation'">Go to Make Reservation</button></li>
            <li><button class="button" onclick="window.location.href='/staffdash'">Go to Staff Dash</button></li>
            <li><button class="button" onclick="window.location.href='/userlogin'">Go to User Login</button></li>
          </ul>
        </div>

        <div class="content">

          <div>
            <img style="width: 700px; border-radius: 5px;" src="/stylesheets/media/famcamp-map-01.png"></img>
            <!-- 
            <form class="reservation-form">
                <label for="siteNumber"  class="reservation-label">Site #:</label>
                <input type="text" id="siteNumber" name="siteNumber"  class="reservation-input" placeholder="0" disabled><br><br>
                <input type="submit" class="button" onclick="window.location.href='/makereservation'" value="Continue to Make Reservation">
            </form>
            -->
         </div>

          <div>
            <form method="post" style="overflow: auto; max-height: 400px;">
              <% if(sites.length) { %>
              <table>
                <!-- header row -->
                <tr>
                  <td>
                    <h4>Lot Number</h4>
                  </td>
                  <td>
                    <h4>Availability</h4>
                  </td>
                  <td>
                    <h4>Nights Available</h4>
                  </td>
                  <td>
                    <h4>Per-Night</h4>
                  </td>
                  <td>
                    <h4>Type</h4>
                  </td>
                  <td>
                    <h4>Hook-Up</h4>
                  </td>
                  <td>
                    <h4></h4>
                  </td>
                </tr>
                <% for(var i = 0; i < locals.sites.length; i++) { %>
                <!-- lots -->
                <tr>
                  <td>
                    <%- locals.sites[i].site_number %>
                  </td>
                  <td>
                    <%- locals.sites[i].available %>
                  </td>
                  <td>
                    <%- locals.sites[i].days_available %>
                  </td>
                  <td>
                    <%- locals.sites[i].site_cost %>
                  </td>
                  <td>
                    <%- locals.sites[i].type %>
                  </td>
                  <td>
                    <%- locals.sites[i].hook_ups %>
                  </td>
                  <% if(locals.sites[i].available == 'yes') { %>
                  <td>
                    <button class="button" name="site" value="<%- locals.sites[i].site_id %>">Reserve!</button>
                  </td>
                  <% } %>
                </tr>
                <% } %>
                
                
              </table>
              <% } else { %>
                <p class="text-center">No sites yet</p>
              <% } %>
          </form>
        </div>
      </div>
    </body>
  </body>
</html>
